<div class="commu-h1">
    <h1>コミュニティをつくる</h1>
</div>
<div class="commu-form">
    <%= form_tag("/commu/create", {multipart: true}) do %>
        <p>コミュニティ名</p>
        <input type="text", name="name" value="<%= @commu.name %>", placeholder="コミュニティ名">
        <p>ジャンル</p>
        <input type="text" name="genre" value="<%= @commu.genre %>", placeholder="ジャンル">
        <p>エリア</p>
        <input type="text" name="area" value="<%= @commu.area %>", placeholder="エリア">
        <p>参考画像</p>
        <input type="file", name="image1">
        <input type="file", name="image2">
        <input type="file", name="image3">
        <p>活動内容・ルール</p>
        <textarea name="detail"  cols="40" rows="5" value="<%= @commu.detail %>"></textarea>
        <input type="submit" value="作成" class="">
    <% end %>
</div>