<div class="commu-show">
    <div class="commu-top">
        <div class="commu-left">
            <h1><%= @commu.name %></h1>
            <div class="commu-img">
                <img src="<%= "/commu_images1/#{@commu.image_name1}" %>">
            </div>
        </div>
        <div class="commu-right">
            <% if Member.find_by(commu_id: @commu.id, user_id: @current_user.id) %>
                <%= link_to("投稿一覧", "/posts/#{@commu.id}", class: "commu-post-index") %>
            <% end %>
            <h2>エリア: <%= @commu.area %></h2>
            <h2>ジャンル : <%= @commu.genre %></h2>
            <h2>投稿者 : <%= link_to("#{@commu.created_by}", "/users/#{@create_user.id}", class: "create_user_name") %></h2>
            <h2><%= link_to("参加メンバー", "/members/#{@commu.id}", class: "commu_member") %></h2>
            <div class="apply">
                <% if Member.exists?(commu_id: "#{@commu.id}", user_id: "#{@current_user.id}")==false && Notification.exists?(sender_id: "#{@current_user.id}", commu_id: "#{@commu.id}")==false %>
                    <%= link_to("参加申請", "/apply/#{@commu.id}", method: "post", class: "apply-btn") %>
                <% elsif Notification.exists?(sender_id: "#{@current_user.id}", commu_id: "#{@commu.id}") %>
                    <p>参加申請中です</p>
                <% end %>
            </div>
        </div>
    </div>
    <div class="commu-bottom">
        <h1>コミュニティについて</h1>
        <div class="bottom-img">
            <img src="<%= "/commu_images2/#{@commu.image_name2}" %>">
            <img src="<%= "/commu_images3/#{@commu.image_name3}" %>">
        </div>
        <div class="commu-detail">
            <p><%= @commu.detail %></p>
            <p>■年齢層・男女比</p>
            <P><%= @commu.age_gender %></p>
            <p>■参加人数</p>
            <P><%= @number %></p>
            <p>■主な活動場所</p>
            <P><%= @commu.place %></p>
            <p>■規定</p>
            <P><%= @commu.rule %></p>
        </div>
    </div>
</div>