<div class="commu-show">
    <div class="commu-left">
        <h1><%= @commu.name %></h1>
        <div class="commu-img">
            <img src="<%= "/commu_images1/#{@commu.image_name1}" %>">
            <img src="<%= "/commu_images2/#{@commu.image_name2}" %>">
            <img src="<%= "/commu_images3/#{@commu.image_name3}" %>">
        </div>
    </div>
    <div class="commu-right">
        <h2>エリア: <%= @commu.area %></h2>
        <h2>ジャンル : <%= @commu.genre %></h2>
        <h2>投稿者 : <%= link_to("#{@commu.created_by}", "/users/#{@create_user.id}", class: "create_user_name") %></h2>
        <h2><%= link_to("参加メンバー", "/members/#{@commu.id}", class: "commu_member") %></h2>
        <div class="request">
            <%= link_to("参加申請", "/request/#{@commu.id}") %>
        </div>
    </div>
</div>