<h2 class="mypage-h2"><%= @user.name %>さんのページ</h2>
<div class="mypage-container">
    <div class="user">
        <div class="bio-left">
            <img src="<%= "/user_images/#{@user.image_name}" %>">
            <h2><%= @user.name %></h2>
        </div>
        <div class="bio-right">
            <div class="edit">
                <% if @current_user.id == @user.id %>
                    <%= link_to("編 集", "/users/#{@user.id}/edit", class: "editbtn") %>
                <% end %>
            </div>
            <div class="bio">
                <p><%= @user.bio %></p>
            </div>
            <div class="link">
                <% if @user.link%>
                    <a rel="canonial" href="<%= @user.link %>">● <%= @user.link %></a>
                <% end %>
            </div>
            <div class="my-commu-link">
                <%= link_to("● 所属コミュニティ","/users/#{@user.id}/commu", class: "my_commu_link") %>
            </div>
        </div>
    </div>
</div>