<div class="top">
    <div class="about">
        <h1>ここになんか書く</h1>
        <h2>サービス概要</h2>
        <%= image_tag "connection.png", size: '553x416' %>
    </div>
    <div class="form">
        <% if @error_message %>
            <div class="login-error">
                <%= @error_message %>
            </div>
        <% end %>
        <div class="login-form">
            <%= form_tag("/login") do %>
                <p> ユーザー名</p>
                <input name="name", type="text", value="<%= @name %>", placeholder="user name">
                <p>パスワード</p>
                <input name="password", type="password", value="<%= @password %>", placeholder="password">
                <input class="login-btn", type="submit", value="ログイン">
            <% end %>
        </div>
        <div class="signup">
                <p>または</p>
            <%= link_to("新規登録", "/signup", class: "signup-btn") %>
        </div>
    </div>
</div>