<%= link_to("投稿する", "/posts/#{@commu.id}/new", class: "post-new-btn") %>
<h2 class="post-index-h2"><%= @commu.name %> 投稿一覧</h2>
<div class="post-index">
    <% @posts.each do |post| %>
        <div class="post">
            <div class="post-user">
                <div class="post-user-img">
                    <% user = User.find_by(id: post.user_id) %>
                    <% if user.image_name=="default_user.png" %>
                        <img src="<%= "/user_images/default_user.png" %>">
                    <% else %>
                        <img src="<%= "/user_images/#{user.image_name}" %>">
                    <% end %>
                </div>
                <div class="post-user-name">
                    <%= link_to("#{user.name}", "/users/#{user.id}", class: "post_user_name") %>
                </div>
            </div>
            <div class="post-content">
                <p><%= post.content %></p>
            </div>
            <div class="post-bottom">
                <div class="post-date">
                    <p><%= post.created_at.strftime("%Y-%m-%d %H:%M:%S") %></p>
                </div>
                <div class="likes">
                    <%= Like.where(post_id: post.id).count %>
                    <%= link_to("いいね", "/likes/#{post.id}/index", class: "likes-index-btn") %>
                    <% if Like.find_by(post_id: post.id, user_id: @current_user.id) %>
                        <%= link_to("/likes/#{post.id}/destroy", method: "post", class: "likes-btn") do %>
                            <span class="fa-solid fa-heart" style="color: red;"></span>
                        <% end %>
                    <% else %>
                        <%= link_to("/likes/#{post.id}", method: "post", class: "likes-btn") do %>
                            <span class="fa-solid fa-heart" style="color: gray;"></span>
                        <% end %>
                    <% end %>
                </div>
            </div>
        </div>
    <% end %>
</div>