<!DOCTYPE html>
<html>
  <head>
    <title>Commu</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  </head>

  <body>
    <header>
      <div class="header-logo">
        <% if @current_user %>
          <a href="/commu/top">Commu</a>
        <% else %>
          <a href="/">Commu</a>
        <% end %>
      </div>
      <div class="header-menus">
        <% if @current_user %>
          <%= link_to("通知","/notifications/index", class: "notification-btn") %>
          <%= link_to("つくる","/commu/new", class: "create-commu") %>
          <%= link_to("マイページ","/users/#{@current_user.id}", class: "my-page") %>
          <%= link_to("ログアウト","/logout", method: "post", class: "logout") %>
        <% end %>
      </div>
    </header>

    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice]%>
      </div>
    <% end %>

    <%= yield %>

    <footer>
      <div class="footer-logo">
        <a href="/commu/top">Commu</a>
      </div>
    </footer>
  </body>
</html>
